*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.estilos-contenedores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.estilos-cards{
    width: 18rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body button{
    border: 3px solid rgb(4, 131, 235);
    border-radius: 8px;
}

.card-body button:hover{
    background-color: rgb(6, 112, 250);
}

#contenedorCarrito .card-body button{
    border: 3px solid rgb(223, 6, 6);
    border-radius: 8px;
}

#contenedorCarrito .card-body button:hover{
    background-color: rgb(201, 7, 7);
}

.precioCard{
    font-size: 25px;
    font-weight: bold;
}

.parrafoCard{
    text-align: start;
    font-size: 18px;
}

.tituloCard{
    font-size: 30px;
    font-weight: bold;
}

.dark-mode{
    background:linear-gradient(#2B214B, #10082C);
    color: white;
}

.estilos-contenedores .card-dark-mode{
    border: 2px solid white;
    background: linear-gradient(#2B214B, #10082C);
    box-shadow: 5px 5px 8px white;
}

.card-dark-mode p, .card-dark-mode h5, .card-dark-mode button{
    color: white;
}

.card{
    box-shadow: 5px 5px 5px grey;
}

.contVacio{
    height: 100vh;
}

.boton-darkmode{
    border: 2px solid black;
}

img{
    padding: 5px 5px;
}

h2, h3{
    text-align: center;
}

header{
    margin: 10px 0px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav{
    display: flex;
    width: 90%;
    flex-direction: row;
    gap: 30px;
}


@media screen and (max-width: 600px){
    .estilos-contenedores{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    header nav{
        display: grid;
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }
        
    
}
